.todo_item {
  height: 30px;
  line-height: 30px;
}
.fr {
  float: right;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.todo_item:hover {
  background-color: #eee;
}
