.DS_Store
node_modules
*/dist
OverView/code/typeScript/js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.history
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist
